body
{
  text-align: center;
  font-family: sans-serif;

  background-color: rgb(29, 18, 60);
}

h1
{
  color: White;
}

#horizontal-guide
{
  transform: translate(-125px,-250px);
  background-color: grey;
  width: 250px;
  height: 1px;
}

#vertical-guide
{
  transform: translateY(-125px);
  background-color: lightgrey;
  width: 1px;
  height: 250px;
}

.game-container
{
  background-color: lightgrey;

  display: flex;
  flex-direction: column;

  width: 500px;
  height: 500px;

  margin: auto;

  border-color: black;
  border-style: solid;

  border-radius: 5%;
}

.circle
{
  display: flex;
  flex-direction: column;

  background-color: white;
  width: 250px;
  height: 250px;

  margin: auto;

  border-radius: 100%;
  border-color: black;
  border-style: solid;
}

.angle-center
{
  position: relative;
  margin: auto;
  background-color: black;
  width: 1px;
  height: 1px;
}

.angle-pivot
{
  position: relative;
  background-color: black;
  transform: rotateZ(-80deg);
}

.angle-margin-pivot-top
{
  position: rel;
  background-color: black;
  transform: rotateZ(-90deg);
}

.angle-margin-pivot-bottom
{
  position: relative;
  background-color: black;
    transform: rotateZ(-70deg);
}

.angle
{
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  width: 125px;
  height: 2px;
}

.angle-margin
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 125px;
  height: 2px;
  background-color: grey
}



.answer-container
{
  margin: auto;
  width: 500px;

  background-color: white;
}

.settings-container
{
  text-align: center;
  width: 500px;
  margin: auto;

  background-color: white;
}

.left
{
  clear: left;
  float: left;
}

.right
{
  clear: right;
  float: right;
}

.submit-label
{
  clear: both;
}

.page-return
{
  color: white;
  text-decoration: none
}
