body
{
  background-color: rgb(29, 18, 60);
  color: white;
}

a
{
  text-decoration: none;
}

.link-text
{
  font-size: 15px;
}

.top-bar
{
  display: inline-block;
}

.current-page
{
  color: lightgrey;
}

.page-tab
{
  margin: 10px;
}

.link
{
  color:white;
}

.games-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-type
{
  text-align: center;
}

.icon
{
  width: 110px;
  height: 110px;
  background-color: lightgrey;
}

.shultes-table-symbol
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.shulte-cell
{
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
}

.shulte-cell > p
{
  margin-top: 20%;
}

.angle-symbol
{
  position: relative;
  justify-content: center;
  align-items: center;
}

.angle-symbol-angle-top
{
  width: 90%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 37%;
  left: 0%;
  transform: rotate(-30deg)
}

.angle-symbol-angle-bottom
{
  width: 90%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 60%;
  left: 6%;
}

.angle-symbol-angle
{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  border-right: 1px solid black;
  border-radius: 50%;
  top: 40%;
  left: 19%;
  transform: rotate(-15deg);
}

.color-grid-symbol
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.color-grid-cell
{
  width: 40%;
  height: 40%;
  border-radius: 5%;
  border: 1px solid black;
  background-color: rgb(71, 200, 158);
}

.hex-color-symbol
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex-color-gradient
{
  width: 90%;
  height: 90%;
  background: linear-gradient(45deg,rgb(0, 0, 0), rgb(255, 35, 0), white);
  border: 1px solid black;
}

.link-container
{
  text-align: center;
  background-color: white;

  width: 150px;
  height: 200px;

  margin: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10%;
  color: black;
}

.page-tab:not(.current-page):hover
{
  transform: scale(1.05);
}

.full-button:hover
{
  transform: scale(1.01);
}
