body
{
  background-color: rgb(29, 18, 60);
  color: white;
}

.top-bar
{
  display: inline-block;
}

.page-tab
{
  margin: 10px;
}

.link
{
  color:white;
  text-decoration: none;
}

.current-page
{
  color: lightgrey;
}

.page-tab:not(.current-page):hover
{
  transform: scale(1.05);
}
