body
{
  font-family: sans-serif;
}

header
{
  background-color: black;
  text-align: center;
}

header h1
{
  color: white;
}

div p
{
  text-align: center;
}

a
{
  text-decoration: none;
  min-width: 175px;
  margin: 10px 10px;
}

.training-type-container
{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link-container
{
  text-align: center;
  background-color: lightgrey;

  width: 100%;
  max-width: 175px;
  height: 200px;

  border-radius: 10%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.link-container:hover
{
  transform: scale(1.01);
}

.link-text
{
  color: black;
}

.training-type
{
  text-align: center;
}
